.task-details-container {
    background: #444;
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: #eee;
    border-radius: 5px;
}

.task-details-container h2 {
    margin-bottom: 20px;
    font-size: 21px;
    color: var(--cor-principal);;
}

.back-button-container {
    width: 20%;
    margin-top: 20px;
    position: relative;
    right: -350px;
}

h3 {
    color: var(--cor-principal);
    font-weight: normal;
    display: inline-block;
}

p {
    margin-bottom: 15px;
}